body {
    font-family: 'Roboto';

    display: flex;
    flex-direction: column;

    height: 100vh;

    padding: 0px;
    margin: 0px;

    --lightGrey: #E5E7EB;
    --navyBlue: #1F2937;
    --blue: #3882F6;
    --secondaryTextColor: #E5E7EB;
    --primaryTextColor: #F9FAF8;
    --borderRadius: 0.5rem;
    --bodyHorizontalSpacing: 4rem;
    --bodyVerticalSpacing: 2rem;

    /* todo, get the light italic thing to work, not surewhy the lighter than normal font weight isnt working  */
    /* todo, to solve the problem of the image resizing itself to 100% width and height, make the height of the image the height of the container */
}

.body {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
}

.body>* {
    padding: 50px 100px;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.header,
.footer {
    background-color: var(--navyBlue);
    color: white;
}

.header {
    padding: 10px 100px;
}

.header ul {
    display: flex;
    align-items: center;

    color: #E5E7EB;
    font-size: 18px;
    gap: 1rem;
}

.headerLogo {
    font-size: 24px;
    margin-right: auto;
}


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}

/* ****************************** */

.hero {
    background-color: var(--navyBlue);
}

.heroContainer {
    display: flex;
}

.heroContent {
    flex: 1 1 0;
}

.heroMainText {
    font-size: 48px;
    font-weight: bolder;
    color: var(--primaryTextColor);
}

.heroSecondaryText {
    font-size: 18px;
    color: var(--secondaryTextColor);
}

.heroSignUpButton {
    background-color: var(--blue);
    border: 1px transparent solid;
    border-radius: var(--borderRadius);
    color: var(--primaryTextColor);
    padding: 0.5rem 1.5rem;
}

.heroImageContainer {
    flex: 1 1 0;
    border: 1px green solid;

}

.heroImageContainer img {
    background-color: rgba(169, 169, 169, 0.665);
    color: white;
    height: auto;
    width: 300px;
}


/* ****************************** */

.info {
    flex-grow: 1;
}

.infoContainer {
    padding: 0 var(--bodyVerticalSpacing);
}

.infoHeader {
    font-size: 36px;
    font-weight: bolder;
    text-align: center;

    margin-bottom: 50px;
}

.infoCards {
    display: flex;
    justify-content: center;
    gap: var(--bodyHorizontalSpacing);
}

.infoCard {
    flex: 0 0 100px
}

.infoImg {
    display: block;
    width: 200px;
    height: 200px;
    object-fit: fill;

    border: 3px solid var(--blue);
    border-radius: var(--borderRadius);
}

.infoDesc {
    color: black;
    text-align: center;
}

/* ****************************** */

.quote {
    background-color: var(--lightGrey);
    flex-grow: 1;

}

.quoteContainer {
    padding: 0 var(--bodyHorizontalSpacing);
}

.quoteText {
    font-size: 36px;
    font-style: italic;
    color: var(--navyBlue);
}

.quoteAuthor {
    color: black;
    text-align: end;
    font-weight: bold;
    font-size: 36px;
}

/* ****************************** */

.signUp {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signUpContainer {
    flex: 1 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    padding: var(--bodyVerticalSpacing) var(--bodyHorizontalSpacing);
    border: 1px transparent solid;
    border-radius: var(--borderRadius);

    background-color: var(--blue);
    color: white;
}

.callToAction {
    font-weight: bold;
}

.instructions {
    color: var(--secondaryTextColor)
}

.signUp input[type=button] {
    background-color: transparent;
    border: 1px white solid;
    border-radius: var(--borderRadius);
    color: var(--secondaryTextColor);
    padding: 0.5rem 1.5rem;
}

/* ****************************** */